<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="beautify.css">
        <title>Fitness Tracker</title>
        <base href="/">
    </head>
    <body>
        <h1>Personal Fitness Tracker</h1>

        <div class="buttonDiv">
            <button><a href="table">Fitness History Table</a></button>
            <button><a href="chart">Fitness History Chart</a></button>
            <form action="/logout" method="POST">
                <button class="buttonDiv">Logout</button>
            </form>
        </div>
        
        <form action="/results" method="POST">
            <p>Walking minutes: </p>
            <input type="number" name="walking_minutes">
            <p>Pushups: </p>
            <input type="number" name="pushups">
            <p>Plank seconds: </p>
            <input type="number" name="plank_seconds">
            <input type="submit">
        </form>
    </body>
</html>