<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="beautify.css">
        <title>Fitness Tracker</title>
        <base href="/">
    </head>
    <body>
        <h1>Personal Fitness Tracker</h1>

        <div class="buttonDiv">
            <button><a href="table">Fitness History Table</a></button>
            <button><a href="chart">Fitness History Chart</a></button>
            <form action="/logout" method="POST">
                <button class="buttonDiv">Logout</button>
            </form>
        </div>
        <!-- make amount an array and push the number to the array each time that the loop comes back -->
        <h4>Create New Workout</h4>
        <form action="/results" method="POST">
            <% if(fitnessRecords.length == 0) { %>
                <p>Add an exercise to create a workout.</p>
            <% } %>
            <% var count = 0; %>
            <% var amounts = []; %>
            <% if(fitnessRecords.length != 0) { %>
                <% for(i in fitnessRecords) { %>
                    <% count++ %>
                    <p><%= fitnessRecords[i].name %>: </p>
                    <input type="number" name="amount">
                    <input type="hidden" name="fitrecid" value="<%= fitnessRecords[i].id %>">
                <% } %>
                <input type="hidden" name="count" value="<%= count %>">
                <input type="submit">
            <% } %>
        </form>

        <h4>Add New Exercise</h4>
        <form action="/new_exercise" method="POST">
            <p>Name of exercise: </p>
            <input type="text" name="name">
            <input type="submit">
        </form>
        <div id="like_button_container" style="width: 100px; height: 100px;"></div>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

        <script src="like_button.js"></script>
    </body>
</html>