<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="beautify.css">
        <title>Fitness Tracker</title>
        <base href="/">
    </head>
    <body>
        <h1>Personal Fitness Tracker</h1>

        <div class="buttonDiv">
            <button><a href="table">Fitness History Table</a></button>
            <button><a href="chart">Fitness History Chart</a></button>
            <form action="/logout" method="POST">
                <button class="buttonDiv">Logout</button>
            </form>
        </div>
        <div>
            <h4>Today's Workout</h4>
            <form action="/results" method="POST">
                <p>Walking minutes: </p>
                <input type="number" name="walking_minutes">
                <p>Pushups: </p>
                <input type="number" name="pushups">
                <p>Plank seconds: </p>
                <input type="number" name="plank_seconds">
                <input type="submit">
            </form>
        </div>
        <div>
            <h4>Add a New Exercise to Your Workout</h4>
            <form action="/new_exercise" method="POST">
                <p>Exercise name: </p>
                <input type="text" name="name">
                <input type="submit">
            </form>
        </div>
    </body>
</html>