<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="beautify.css">
        <title>Fitness Tracker</title>
        <base href="/">
    </head>
    <body>
        <h1>Fitness History Table</h1>
        <div class="buttonDiv">
            <button><a href="/">Home</a></button>
            <button><a href="chart">Fitness History Chart</a></button>
            <form action="/logout" method="POST">
                <button class="buttonDiv">Logout</button>
            </form>
        </div>
        <table>
            <tr>
                <th>Date</th>
                <th>Minutes Walked</th>
                <th>Pushups</th>
                <th>Seconds Planked</th>
            </tr>
            <% var increment = 0; %>
            <% for(i in fitnessRecords) { %>
                <tr>
                    <td><%= fitnessRecords[i].created_at.toString().substring(0, 15) %></td>
                    <td><%= fitnessRecords[i].walking_minutes %></td>
                    <td><%= fitnessRecords[i].pushups %></td>
                    <td><%= fitnessRecords[i].plank_seconds %></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>